<apex:page controller="AccountsDemoPageController">
    <apex:pageBlock title="Accounts">
        <apex:pageBlockTable value="{!accounts}" var="account">
            <apex:column value="{!account.Name}"/>
            <apex:column value="{!account.AccountNumber}"/>
            <apex:column value="{!account.Type}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>