<apex:page StandardController="Account" recordSetVar="AccountList"  showHeader="false" sidebar="false">
<response>
    <apex:repeat value="{!AccountList}" var="eachAccount" >
        <Account id="{!eachAccount.id}" name="{!eachAccount.name}">
            <apex:repeat value="{!eachAccount.contacts}" var="eachContact">
                <Contact id="{!eachContact.id}" name="{!eachContact.name}" email="{!eachContact.email}"/>
            </apex:repeat>
        </Account>
    </apex:repeat>
</response>
</apex:page>