<apex:page controller="FLSDemo">
    <head>
        <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, 'BootstrapCustom.css')}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
    
    <body ng-app="DemoApp" ng-controller="DemoController">
        <div class="nm">
            <div>
                <h4>Read Example</h4><br/><br/>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Department</th>
                        <th>Monthly Salary</th>
                    </tr>
                    
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.Name}}</td>
                        <td>{{employee.Designation__c}}</td>
                        <td>{{employee.Department__c}}</td>
                        <td>{{employee.Monthly_Salary__c}}</td>
                    </tr>
                </table>
            </div>   
            <br/>
            <div>
                <h4>Create Example</h4><br/><br/>
                <label> Name </label>
                <input type="text" class="form-control" ng-model="newEmployee.Name"/>
                
                <label> Designation </label>
                <input type="text" class="form-control" ng-model="newEmployee.Designation__c"/>
                
                <label> Department </label>
                <input type="text" class="form-control" ng-model="newEmployee.Department__c"/>
                
                <label> Monthly Salary </label>
                <input type="number" class="form-control" ng-model="newEmployee.Monthly_Salary__c"/>
                
                <br/>
                <button type="button" class="btn btn-primary" ng-click="createEmployee()">Save</button>
            </div>     
        </div>
        
        <script>
            var app = angular.module('DemoApp', []);
            
            app.factory('DemoFactory', ['$q', '$log', function($q, $log){
                var service={};
                
                
                service.getEmployees = function(){  
                    var defer = $q.defer();
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FLSDemo.getEmployees}', function(result, event) {
                        if (event.status) {
                            defer.resolve(result); 
                        } 
                        else {
                            alert(event.message);
                            $log.error(event.message);
                            defer.reject(event.message);
                        }
                    },
                    { buffer: true, escape: true} ); 
                    
                    return defer.promise;
                }
                
                
                service.createEmployee = function(newAccount){  
                    var defer = $q.defer();
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.FLSDemo.createEmployee}', newAccount, function(result, event) {
                        if (event.status) {
                            alert('Employee Created Successfully!');
                            defer.resolve(result); 
                        } 
                        else {
                            alert(event.message);
                            $log.error(event.message);
                            defer.reject(event.message);
                        }
                    },
                    { buffer: true, escape: true} ); 
                    
                    return defer.promise;
                }
                
                return service;
            }]);
            
            
            app.controller('DemoController',['$scope','$q','DemoFactory', function($scope,$q,DemoFactory) {
                $scope.newEmployee = {};
                $scope.employees = [];
                
                DemoFactory.getEmployees().then(function(response){
                    $scope.employees = response;
                });
                
                
                $scope.createEmployee = function(){
                    DemoFactory.createEmployee($scope.newEmployee).then(function(response){
                        
                    });
                }
            }]);
        </script>
    </body>
    
    
    
</apex:page>