<apex:page >
    <head>
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-108435998-1', 'auto');
            ga('send', 'pageview');
            
            function registerEventB1(){
                ga('send', 'event', 'Button Click', 'click', 'Button 1 Clicked');
            }
            
            function registerEventB2(){
                ga('send', 'event', 'Button Click', 'click', 'Button 2 Clicked');
            }
        </script>
        <script src='https://www.google-analytics.com/analytics.js'></script>
        
        
    </head>
    
    <button onclick="registerEventB1()">Button 1</button>
    <button onclick="registerEventB2()">Button 2</button>
</apex:page>