<apex:page >
    <apex:form >
        <apex:outputLink value="/apex/XSSDemo1?URLParameter=Hello" target="_blank">XSS Demo 1</apex:outputLink><br/><br/>
        <apex:outputLink value="/apex/XSSDemo2?URLParameter=Hello" target="_blank">XSS Demo 2</apex:outputLink><br/><br/>
        <apex:outputLink value="/apex/XSSDemo3" target="_blank">XSS Demo 3</apex:outputLink><br/><br/><br/><br/>
        
        <apex:outputLink value="/apex/XSSDemo1Fixed?URLParameter=Hello" target="_blank">XSS Demo 1 Fixed</apex:outputLink><br/><br/>
        <apex:outputLink value="/apex/XSSDemo2Fixed?URLParameter=Hello" target="_blank">XSS Demo 2 Fixed</apex:outputLink><br/><br/>
        <apex:outputLink value="/apex/XSSDemo3Fixed" target="_blank">XSS Demo 3 Fixed</apex:outputLink><br/><br/>
    </apex:form>
</apex:page>