<apex:page Controller="sObjectController" id="thePage" standardStylesheets="false"  showHeader="false" sidebar="false" docType="html-5.0">

<apex:stylesheet value="{!URLFOR($Resource.SuperheroTheme)}"/>

<!--

<nav class="navbar navbar-default" id="nav_519a_0" >
<nav style="background-image:url('{!$Resource.Page1Background}');">
-->
<html>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #3399ff;
width:400px; height:50px;
}

li {
    float: left;
}

li a {

    display: block;    
    text-align: center;    
    padding: 14px 16px;
   
}


</style>

<apex:stylesheet value="{!URLFOR($Resource.Page1Background)}"/>
<apex:stylesheet value="{!URLFOR($Resource.Page1cssOut)}"/>
<body style="overflow:hidden; background-image:url('{!$Resource.background1}'); background-repeat: no-repeat;">
<nav style="background-image:url('{!$Resource.Page1Background}');">


 <div class="container" >
    <apex:form id="Describe">
     
   
    <apex:actionStatus id="theStatus">
    <apex:facet name="start">
    <div id="div_519a_0">
        &nbsp;
    </div>
    <div id="div_519a_1" align="center">
        <div id="div_519a_2" align="center">
            <img src="/img/loading.gif" id="img_519a_0" />
            <span id="span_519a_0" align="center">Processing....</span>
        </div>
    </div>
    </apex:facet>
</apex:actionStatus>
         
     

        <apex:pageBlock id="block2" >
            <apex:messages />
          
    
  
          
             <ul>        
                  <li>   Objects   </li>
                                           
                    <li>    <apex:selectList value="{!selectedObject}" size="1"  label="Select" style="margin-left: 35px;">
                                                  <apex:selectOptions value="{!objectNames}"   />
                          
                        </apex:selectList>
                      </li> 
                     
                     <li> 
                          <apex:commandButton value="Get Fields"  action="{!showFields}" styleClass="btn btn-warning"  style="margin-left: 275px; margin-top:-30px;" />
                          
                    </li> 
            </ul>
                          
            
    
           
            <apex:pageblocksection id="fieldList" rendered="{!not(isnull(selectedObject))}"  columns="1" >
               <div class="container" id="div_519a_3">
               
                <apex:pageBlock title="Fields of the Selected Object: {!selectedObject}" >
                
                    <apex:pageBlockTable value="{!fields}" var="fls"  styleClass="table table-striped table-hover">                        
                        <apex:column title="Fields" value="{!fls.keyApi}" headerValue="NAMES" styleClass=".col-sm-6" />
                        <apex:column title="Display Type" value="{!fls.displayType}" headerValue="DISPLAY TYPE" />
                        <apex:column title="label name" value="{!fls.fieldLabel}" headerValue=" LABEL" />
                        <apex:column >
                            <apex:commandButton value="Show Dependencies!" action="{!testRedirect2}" styleClass="btn btn-warning " status="theStatus" reRender="thePage">
                                <apex:param name="fieldapi" value="{!fls.keyApi}" assignTo="{!fieldChosen}"/>
                                <apex:param name="fieldlabel" value="{!fls.fieldLabel}" assignTo="{!fieldLabelChosen}"/>
                                
                            </apex:commandButton>
                        </apex:column>
                       
                    </apex:pageBlockTable>
                </apex:pageBlock>
                </div>
            </apex:pageblocksection>
          
                
            
        </apex:pageBlock>
    </apex:form>
      </div>
    
       </nav>
       </body>
       </html>   
</apex:page>