<apex:page controller="SOQLInjectionDemo">
    <head>
        <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, 'BootstrapCustom.css')}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
    
    <body ng-app="DemoApp" ng-controller="DemoController">
        <div class="nm">
            <div>
                <h4>Search Example</h4><br/><br/>
                
                <label> Enter Name </label>
                <input type="text" class="form-control" ng-model="searchText"/><br/>
                <button class="btn btn-primary" ng-click="getEmployees()" type="button">Search</button>
                
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Department</th>
                    </tr>
                    
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.Name}}</td>
                        <td>{{employee.Designation__c}}</td>
                        <td>{{employee.Department__c}}</td>
                    </tr>
                </table>
            </div> 
            
            <button class="btn btn-primary" ng-click="getQuery()" type="button">Get Query</button><br/>
            {{queryString}}   
        </div>
        
        <script>
            var app = angular.module('DemoApp', []);
            
            app.factory('DemoFactory', ['$q', '$log', function($q, $log){
                var service={};
                
                
                service.getEmployees = function(searchText){  
                    var defer = $q.defer();
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SOQLInjectionDemo.getEmployees}', searchText, function(result, event) {
                        if (event.status) {
                            defer.resolve(result); 
                        } 
                        else {
                            alert(event.message);
                            $log.error(event.message);
                            defer.reject(event.message);
                        }
                    },
                    { buffer: true, escape: true} ); 
                    
                    return defer.promise;
                }
                
                
                service.getQuery = function(searchText){  
                    var defer = $q.defer();
                    Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.SOQLInjectionDemo.getQuery}', searchText, function(result, event) {
                        if (event.status) {
                            defer.resolve(result); 
                        } 
                        else {
                            alert(event.message);
                            $log.error(event.message);
                            defer.reject(event.message);
                        }
                    },
                    { buffer: true, escape: false} ); 
                    
                    return defer.promise;
                }
                
                
                return service;
            }]);
            
            
            app.controller('DemoController',['$scope','$q','DemoFactory', function($scope,$q,DemoFactory) {
                $scope.newEmployee = {};
                $scope.employees = [];
                $scope.searchText = '';
                $scope.queryString = '';
                
                
                $scope.getEmployees = function(){
                    DemoFactory.getEmployees($scope.searchText).then(function(response){
                        $scope.employees = response;
                    });
                }
                
                
                $scope.getQuery = function(){
                    DemoFactory.getQuery($scope.searchText).then(function(response){
                        $scope.queryString = response;
                    });
                }     
            }]);
        </script>
    </body>
    
    
    
</apex:page>